#### 注意:
- 此部分基于 *Python* 3.6.5 <small>(当前稳定版本为 3.7)</small>
- 以下部分内容不太完整, 仅作速查

### all any

In [2]:
# all true vals -> true | others are false
a1 = [x for x in range(1, 9)]
a1.append('')
all(a1)

# all false vals -> false | others are true
a2 = [x*0 for x in range(1, 9)]
any(a2)

a2.append(1)
any(a2)

False

False

True

### ascii repr str

In [1]:
ascii('\xfff'),
repr('\xfff')
str('\xfff')

("'\\xfff'",)

"'ÿf'"

'ÿf'

### bin

In [4]:
# bin('3')
# bin(3.3)

bin(10)
bin(-10)
bin(int('0b1010', 2))

format(14, '#b')
format(14, '0b')
format(14, 'b')

'0b1010'

'-0b1010'

'0b1010'

'0b1110'

'1110'

'1110'

### bool stuff

In [3]:
True and False  # F exists then False, else True
True or False  # T exists then True, else False

False

True

In [4]:
from decimal import Decimal
from fractions import Fraction

falseValues = [
    '',
    0,0.0,0j,
    (),[],{},
    None,False,
    set(),range(0)
]

[ bool(x) for x in falseValues ]

[False, False, False, False, False, False, False, False, False, False, False]

### bytes

In [14]:
# explain more later :)

bytes("aha".encode('utf-8'))
bytearray("aha".encode('utf-8'))

b'aha'

bytearray(b'aha')

<hr>

In [38]:
a = 10
b = lambda x: x+10 

def c():
    pass

callable(a)
callable(b)
callable(c)

False

True

True

### chr ord

In [56]:
chr(100) == 'd'
100  == ord('d') 

chr(666)
chr(1111)

True

True

'ʚ'

'ї'

### complex

In [16]:
complex()
complex(10j+20j)   

complex("10")      # can't take the 2nd arg 
complex("10+20j")  # do NOT split (spaces)

complex(10)        # default: 0j
complex(10,20)     # 20 -> 20j

complex(10j,20)    # the '20' turns '20j' automatically 
complex(10,20j)    # do NOT add the suffix 'j'

0j

30j

(10+0j)

(10+20j)

(10+0j)

(10+20j)

30j

(-10+0j)

### attr
- hasattr
- getattr
- setattr
- delattr

In [161]:
class X:
    pass

x = X()

x.age = 19
setattr(x,'name','hahaha')

hasattr(x,'name')
getattr(x,'name','Oh no')

del x.age
delattr(x,'name')

getattr(x,'name','Oh no')

True

'hahaha'

'Oh no'

### dir

In [10]:
class X:
    def __dir__(self):
        return ['cutomized','dir','method']
    
class Y:
    pass

x = X()
y = Y()

dir(x)
dir(y).__len__() > 3

['cutomized', 'dir', 'method']

True

### divmod

In [72]:
from math import floor

# result: (3,1)
divmod(10,3)
10//3, 10%3

divmod(10.3,3)
float(floor(10.3/3)),10.3%3

(3, 1)

(3, 1)

(3.0, 1.3000000000000007)

(3.0, 1.3000000000000007)

### enumerate

In [84]:
seasons = ['spring','summer','autumn','winter']

[ i for i in enumerate(seasons) ]
[ i for i in enumerate(seasons,start=1) ]

def enu(seq,start=0):
    n = start
    for elem in seq:
        yield n, elem
        n += 1
        
[ i for i in enu(seasons) ]
[ i for i in enu(seasons,start=1)]

[(0, 'spring'), (1, 'summer'), (2, 'autumn'), (3, 'winter')]

[(1, 'spring'), (2, 'summer'), (3, 'autumn'), (4, 'winter')]

[(0, 'spring'), (1, 'summer'), (2, 'autumn'), (3, 'winter')]

[(1, 'spring'), (2, 'summer'), (3, 'autumn'), (4, 'winter')]

<hr>

### eval, exec

In [107]:
#  

a = 'outside: 10'

def lala():
    a = 'inside: 20'
    
    eval("print(a)",locals())
    eval("print(a)",globals())
    
lala()


exec("""
if True:
    print('lalala')""")

inside: 20
outside: 10
lalala

### filter / map

In [60]:
[ i for i in [1,2,3,4,5] if i%2 != 0 ]

list(
    filter(
        lambda x: x%2 != 0,
        [1,2,3,4,5]
    )
)


[ i*10 for i in [10,20,30] ]

list(
    map(
        lambda x: x*10,
        [10,20,30]
    )
)

[1, 3, 5]

[1, 3, 5]

[100, 200, 300]

[100, 200, 300]

### float

In [134]:
float('-1.23'), float('  -1.23')

float('1e-3'),  float('2e3')

float() == 0.0

(-1.23, -1.23)

(0.001, 2000.0)

True

### format

In [149]:
'{}'.format(10.675)
'{:.4}'.format(10.675)

'10.675'

'10.68'

### hash

In [170]:
hash(10) == hash(10.0)
hash('10')

True

-7229192836402970857

### hex / oct

In [89]:
hex(10), hex(16) ,hex(255)
hex(-1)

oct(8), oct(64)
oct(-1)

('0xa', '0x10', '0xff')

'-0x1'

('0o10', '0o100')

'-0o1'

In [97]:
'%X' % 255, format(255,'X')
'%o' % 64, format(64,'o')

format(255,'#x')
format(255,'#X')

format(64,'#o')

('FF', 'FF')

('100', '100')

'0xff'

'0XFF'

'0o100'

### id

In [8]:
# an integer which is guaranteed to be 
#   unique and constant for the object During Its Lifetime

# Thus, two objs with non-overlapping Lifetime 
#   may have the same id() value :)

id('sb'), id('s'+'b')

id(1)
id(1.0)

(4544130888, 4544130888)

4531870064

4565217640

### int

In [35]:
int(1.8), int(-1.8)

int('0b10',2),  0b10, 0B10
int('010',8),   0o10, 0O10
int('0x10',16), 0x10, 0X10

(1, -1)

(2, 2, 2)

(8, 8, 8)

(16, 16, 16)

### isinstance issubclass

In [281]:
class X:
    pass

x = X()

isinstance(x,X)

isinstance({1},set)
isinstance({'one':1},dict)

isinstance(False,int)
isinstance(10,(int,bool))
isinstance((10,20),(list,tuple))

True

True

True

True

True

True

In [50]:
class X:
    pass

class Y(X):
    pass

issubclass(X,X)
issubclass(Y,X)

True

True

### iter

In [56]:
'123'

list(
    iter('123')
)

'123'

['1', '2', '3']

### max

In [82]:
max(10,20)
max((1,2),(2,3))


dd = {'cc':50,'bb':30,'aa':100}

# largest key ('cc')
max(dd.keys(),key=lambda x: x),      min(dd.keys(),key=lambda x: x)

# largest val (aa:'100')
max(dd.keys(),key=lambda x: dd[x]),  min(dd.keys(),key=lambda x: dd[x])

20

(2, 3)

('cc', 'aa')

('aa', 'bb')

### pow

In [133]:
4<<4 , 4**3, pow(4,3)

pow(16,1/2), pow(16,0.5)

pow(0.125,-2)

pow(3,4,5),  pow(3,4) % 5

(64, 64, 64)

(4.0, 4.0)

64.0

(1, 1)

### property 
> not fully understand

In [157]:
class Student:
    
    @property 
    def score(self):
        return self._score
    
    @score.setter
    def score(self,value):
        if not isinstance(value,int):
            raise ValueError('It must be an integer!')
        if value < 0 or value > 150:
            raise ValueError('Wait, WHAT?')
        self._score = value 
    

c = Student()

c.score = 100
c.score

100

### range

In [166]:
rglist = [
    range(0,1001,500),
    range(0,-1001,-500),
    range(10),
    range(0,10),
    range(0,10,1)
]

[ list(x) for x in rglist ]

[[0, 500, 1000],
 [0, -500, -1000],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

### reversed / sorted

In [252]:
# only reversing it 
list(
    reversed(
        [ x for x in ['b','c','a'] ]
    )
)


sorted(
    [ x for x in ['10','1','2'] ]
)

sorted(
    [ x for x in ['b','c','a'] ],
    reverse=True
)

# read more at: 
#   https://docs.python.org/3/howto/sorting.html#sortinghowto

['a', 'c', 'b']

['1', '10', '2']

['c', 'b', 'a']

### round

In [216]:
round(-0.5), round(0.5), round(0.5,0)
round(-1.5), round(1.5), round(1.5,0)

round(2.75,1),  round(2.76,1)

round(2.735,2), round(2.736,2)

(0, 0, 0.0)

(-2, 2, 2.0)

(2.8, 2.8)

(2.73, 2.74)

### slice

In [234]:
# not using it directly :)

"aaabbbccc"[:]
"aaabbbccc"[::3]
"aaabbbccc"[::-1]

'aaabbbccc'

'abc'

'cccbbbaaa'

### staticmethod

In [285]:
# stackoverflow.com/questions/12179271/meaning-of-classmethod-and-staticmethod-for-beginner

### super

In [284]:
# https://rhettinger.wordpress.com/2011/05/26/super-considered-super/

### sum

In [277]:
from math import fsum
from itertools import chain

sum([30,40,50])
sum([i for i in range(5)])


# some alternatives 

'-'.join(['2014','4','5'])

sum([1.42,9.32,123])
fsum([1.42,9.32,123])

[12,42,5] + [21,99,100]
list(chain([12,42,5],[21,99,100]))

120

10

'2014-4-5'

133.74

133.74

[12, 42, 5, 21, 99, 100]

[12, 42, 5, 21, 99, 100]

### type

In [289]:
# the latter takes subclasses into account :)
type(False) != int
isinstance(False,int)

True

True

In [310]:
class X:
    a = 1
     

type(
    'X',          # X.__name__
    (object,),    # X.__bases__
    dict(a=1)     # must be dict -> dict(a=1)
)

# type(name,bases,dict)
X.__name__, X.__bases__, X.__dict__

__main__.X

('X',
 (object,),
 mappingproxy({'__dict__': <attribute '__dict__' of 'X' objects>,
               '__doc__': None,
               '__module__': '__main__',
               '__weakref__': <attribute '__weakref__' of 'X' objects>,
               'a': 1}))

### zip

In [408]:
k = ['one','two','three']
v = [1,2,3]

list(zip(k,v))
dict(zip(k,v))

list(
    zip(
        *zip(k,v)
    )
)

[('one', 1), ('two', 2), ('three', 3)]

{'one': 1, 'three': 3, 'two': 2}

[('one', 'two', 'three'), (1, 2, 3)]

In [409]:
# return     --  an iterator of tuples 
# direction  --  left-to-right evaluation order 

list(
    zip('ABCD','xy')
)

list(
    zip('oh','12345')
)

[('A', 'x'), ('B', 'y')]

[('o', '1'), ('h', '2')]